{% extends "main.html" %}

{% block content %}
<main class="profile-page layout layout--3">
    <div class="container">
        {%include 'topics_component.html'%}
        <div class="roomList">
            <div class="profile">
                <div class="profile__avatar">
                    <div class="avatar avatar--large active">
                        <img src="{{user.avatar.url}}"/>
                    </div>
                </div>
                <div class="profile__info">
                    <h3>{{user.username}}</h3>
                    <p>@{{user.username}}</p>
                    {%if request.user.username == user.username %}
                    <a class="btn btn--main btn--pill" href="{%url 'update_user' user.id %}">Edit Profile</a>
                    {% endif %}
                </div>
                <div class="profile__about">
                    <h3>About</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
                        facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
                        accusamus repudiandae quis ab ex exercitationem rem?
                    </p>
                </div>
            </div>
            <div class="roomList__header">
                <div>
                    <h2>Study Rooms Hosted by {{request.user}}</a>
                    </h2>
                </div>
            </div>
            {%include 'activity_feeds.html' %}
        </div>
        {%include 'feeds.html'%}
    </div>
</main>
{% endblock %}